/*
  Liam Clifford
  1713749
  CM1101 - Computer Information Systems
*/

/* Imported font for the site */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
  background-color: whitesmoke; /* sets bg colour*/
  font-family: 'Quicksand', Verdana; /* sets font for the entire page */
}

head {

}

body {
  margin: 0; /* removes the default body margin */
}

header {

}

nav {
  overflow: hidden; /* */
  background-color: #333; /* */
  position: fixed; /* */
  top: 0; /* */
  width: 100%; /* */
  margin-bottom: 150px; /* */
  font-size: 20px; /* */
}

a {
  display: block; /* */
  color: white; /* */
  text-align: center; /* */
  padding: 20px; /* */
  text-decoration: none; /* */
  font-size: 20px; /* */
}

main {

}

section {

}

footer {
  overflow: hidden; /* */
  background-color: #333; /* */
  color: white; /* */
  position: fixed; /* */
  bottom: 0; /* */
  width: 100%; /* */
}

p {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

#nav-bar-links-table {
  width: 100%; /* sets nav bar table to fill the screen */
  text-align: left; /* aligns the tables text to the left */
  color: white; /* sets all nav bar table colour to white */
}

#title-text {
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 24px;
  border: none;
}

.cell-with-border {
  border-left: 1px solid red;
}

#main-container {

}

#page-container {

}

#centre-text-block {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 75%;
}

#centre-text-block-contents {
  text-align: center;
  font-size: 20px;
}

#footer-contents {

}
